auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
el-get
*.desktop
*#
ido.last
recentf
*.desktop

*.dat

*.last

recentf

*.el

*.last

.emacs.desktop

*.lock

ido.last

init.el

.emacs.desktop.lock

slime/
